<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-txrx" version="1.1.0">
    <name>cordova-plugin-txrx</name>
    <description>Cordova plugin wrapping the native Android and iOS TxRx libraries</description>
    <license>MIT</license>
    <keywords>cordova, android, txrx</keywords>
    <js-module name="txrx" src="www/txrx.js">
        <clobbers target="cordova.plugins.txrx" />
    </js-module>
    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="TxrxPlugin">
                <param name="android-package" value="com.tertiumtechnology.plugin.TxrxPlugin" />
            </feature>
        </config-file>
        <source-file src="src/android/TxrxPlugin.java" target-dir="src/com/tertiumtechnology/plugin" />

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <platform name="android">
                <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>
                <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
                <uses-permission android:name="android.permission.INTERNET"/>
                <uses-permission android:name="android.permission.BLUETOOTH"/>
                <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
                <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
            </platform>
        </config-file>

        <framework src="src/android/txrx.gradle" custom="true" type="gradleReference" />
        <resource-file src="src/android/libs/txrxlib.aar" target="src/android/libs/txrxlib.aar" />

    </platform>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="TxrxPlugin">
                <param name="ios-package" value="TxrxPlugin" />
            </feature>
        </config-file>

        <!-- Plugin main class -->
        <header-file src="src/ios/TxrxPlugin.h" />
        <source-file src="src/ios/TxrxPlugin.m" />

        <!-- Core class -->
        <header-file src="src/ios/Core.h" />
        <header-file src="src/ios/CoreNotification.h" />
        <source-file src="src/ios/Core.m" />
        
        <!-- TxRx Library -->
        <header-file src="src/ios/Library/TxRxDevice.h" />
        <header-file src="src/ios/Library/TxRxDeviceDataProtocol.h" />
        <header-file src="src/ios/Library/TxRxDeviceManagerExchangeProtocol.h" />
        <header-file src="src/ios/Library/TxRxDeviceProfile.h" />
        <header-file src="src/ios/Library/TxRxDeviceScanProtocol.h" />
        <header-file src="src/ios/Library/TxRxManager.h" />
        <header-file src="src/ios/Library/TxRxManagerErrors.h" />
        <header-file src="src/ios/Library/TxRxManagerPhases.h" />
        <header-file src="src/ios/Library/TxRxWatchdogTimer.h" />
        
        <source-file src="src/ios/Library/TxRxDevice.m" />
        <source-file src="src/ios/Library/TxRxDeviceProfile.m" />
        <source-file src="src/ios/Library/TxRxManager.m" />
        <source-file src="src/ios/Library/TxRxWatchDogTimer.m" />

    </platform>
</plugin>
